/* GOOGLE FONT*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

/* ----- VARIABLES ------ */
:root {
  --header-height: 3rem;

  /* colors */
  --first-color: #118ab2;
  --first-color-alt: #048654;
  --title-color: #393939;
  --text-color: #333333;
  --text-color-light: #a6a6a6;
  --body-color: #fcfcfc;
  --container-color: #fff;

  /* font & typography */
  --body-font: "Poppins", sans-serif;
  --biggest-font-size: 2.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /* font weight */
  --font-medium: 500;
  --font-semi-bold: 600;

  /* margins*/
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;

  /* z-index */
  --z-tooltop: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 768px) {
  :root {
    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/* ----- BASE STYLINGS ----- */
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* ------------------- DARK THEME VARIABLES -------------*/
body.dark-theme {
  --title-color: #f1f3f2;
  --text-color: #c7d1cc;
  --body-color: #1d2521;
  --container-color: #27302c;
}

/* ------------------- DARK/LIGHT BUTTON -------------*/
.change-theme {
  position: absolute;
  right: 1rem;
  top: 1.8rem;
  color: var(--text-color);
  font-size: 1rem;
  cursor: pointer;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  line-height: 1.6;
}

h1,
h2,
h3 {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* ----- DARK THEME VARIABLES ----- */
/* ----- BUTTON LIGHT/DARK ----- */
/* ----- BASE CLASSES ----- */
.section {
  padding: 4rem 0 2rem;
}

.section-title,
.section-subtitle {
  text-align: center;
}

.section-title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
  margin-bottom: var(--mb-3);
}

.about__initial {
  text-align: initial;
}

.section-subtitle {
  display: block;
  color: var(--first-color);
  font-weight: var(--font-medium);
  margin-bottom: 0;
}

.section-sub2 {
  font-size: 9px;
  margin-top: -0.5rem;
}

.testimonial-desc {
  font-style: italic;
}

/* ----- LAYOUT ----- */
.bd-container {
  max-width: 960px;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.bd-grid {
  display: grid;
  gap: 1.5rem;
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}

/* ----- NAV ----- */
.nav {
  max-width: 1024px;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    padding: 1.5rem 0 1rem;
    text-align: center;
    background-color: var(--body-color);
    transition: 0.4s;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 1rem 1rem;
    z-index: var(--z-fixed);
  }
}

.nav__item {
  margin-bottom: var(--mb-2);
}

.nav__link,
.nav__toggle {
  color: var(--text-color);
  font-weight: var(--font-medium);
}

.nav__link {
  transition: 0.3s;
}

.nav__link:hover {
  color: var(--first-color);
}

.nav__toggle {
  font-size: 1.4rem;
  cursor: pointer;
}

.nav__logo {
  width: 40%;
  /* padding-top: 3rem; */
}

/* show menu */
.show-menu {
  top: var(--header-height);
}

/* Active link*/
.active-link {
  color: var(--first-color);
}

/* Change header's background on scroll*/
.scroll-header {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Scroll to top*/
.scrolltop {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
  background: var(--first-color);
  border-radius: 0.4rem;
  z-index: var(--z-tooltop);
  transition: 0.4s;
  visibility: hidden;
}

.scrolltop:hover {
  background-color: var(--first-color-alt);
}

.scrolltop__icon {
  font-size: 1.8rem;
  color: var(--body-color);
}

/* Show scroll top*/
.scroll-top {
  visibility: visible;
  bottom: 1.5rem;
}

/* -------------------- BUTTONS -------------------------*/
.button {
  display: inline-block;
  background-color: var(--first-color);
  border: 2px solid var(--first-color);
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  transition: 0.3s;
}

.button-outline {
  border: 2px solid var(--first-color);
  background-color: #fff;
  color: var(--text-color);
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  transition: 0.3s;
}

.button:hover {
  background-color: var(--first-color-alt);
}

/* -------------------- ABOUT -------------------------*/

/* .about__data {
  text-align: center;
} */

.about__description {
  margin-bottom: var(--mb-3);
  text-align: justify;
}

.about__img {
  width: 350px;
  justify-self: center;
  margin-top: 5rem;
}

.wrap {
  margin-top: 3rem;
  /* border-radius: 10px;
  box-shadow: 0 2px 4px rgba(3, 74, 40, 0.15); */
  width: 100%;
  padding: 1rem;
}

.card-1,
.wrap {
  display: flex;
  flex-direction: column;
}

.card-2 {
  margin-top: 3rem;
}

.img-wrap {
  width: 40%;
}

.card-2 .img-wrap {
  width: 80%;
}

.text-wrap {
  padding: 0 0rem;
}

.text-wrap ul li {
  list-style: disc;
}

.card-title {
  margin-bottom: -0.2rem;
}

.card-desc {
  font-size: 12px;
}

/* -------------------- FOOTER -------------------------*/
.footer__container {
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  row-gap: 2rem;
}

.footer__logo {
  width: 50%;
  padding-bottom: 3rem;
}

.footer__description {
  display: block;
  font-size: var(--small-font-size);
  margin: 0.25rem 0 var(--mb-3);
}

.footer__social {
  font-size: 1.5rem;
  color: var(--title-color);
  margin-right: var(--mb-2);
}

.footer__title {
  font-size: var(--h2-font-size);
  color: var(--title-color);
  margin-bottom: var(--mb-2);
}

.footer__link {
  display: inline-block;
  color: var(--text-color);
  margin-bottom: var(--mb-1);
}

.footer__link:hover {
  color: var(--first-color);
}

.footer__copy {
  text-align: center;
  font-size: var(--small-font-size);
  color: var(--text-color);
  margin-top: 3.5rem;
}

.footer__content ul li {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

/* -------------------- MEDIA QUERIES -------------------------*/
/*these will be applied for screens larger than 576px*/
@media screen and (min-width: 576px) {
  .home__container,
  .about__container,
  .app__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .about__data,
  .about__initial,
  .app__data,
  .app__initial,
  .contact__container,
  .contact__initial {
    text-align: initial;
  }

  .about__img,
  .app__img {
    width: 380px;
    order: -1;
  }

  .contact__container {
    grid-template-columns: 1.5fr 1fr;
    align-items: center;
    column-gap: 5rem;
  }

  .contact__button {
    justify-self: center;
  }
}

/*these will be applied for screens larger than 768px*/
@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }

  .section {
    padding-top: 8rem;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav__list {
    display: flex;
  }
  .nav__item {
    margin-left: var(--mb-5);
    margin-bottom: 0;
  }
  .nav__toggle {
    display: none;
  }

  .change-theme {
    position: initial;
    margin-left: 5rem;
    font-size: 1.5rem;
  }

  .home__container {
    height: 100vh;
    justify-items: center;
  }

  .services__container,
  .menu__container {
    margin-top: var(--mb-6);
  }

  .menu__container {
    grid-template-columns: repeat(3, 210px);
    column-gap: 4rem;
  }
  .menu__content {
    padding: 1.5rem;
  }
  .menu__img {
    width: 130px;
  }

  .app__store {
    margin: 0 var(--mb-1) 0 0;
  }
}

/*these will be applied for screens larger than 960px*/
@media screen and (min-width: 960px) {
  .bd-container {
    margin-left: auto;
    margin-right: auto;
  }

  .home__img {
    width: 500px;
  }

  .about__container,
  .app__container {
    column-gap: 7rem;
  }
}
